ipython>=8.10
jupyterlab>=3.0
notebook
kedro~=1.1.1
signalflow-trading>=0.3.6
signalflow-nn>=0.2.6
signalflow-ta>=0.3.6    

pyarrow
kaleido
plotly
dagshub 
mlflow
kedro-datasets
pyTelegramBotAPI==4.30.0